html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {

	font-family: "Roboto", sans-serif;
}


 /* nav bar */


.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0 120px;
    
}

.logo{
	height: 51px;
  	padding-top: 12px;
 	 width: 53px;
 	 margin-top: 5px;
}

.top-navigation .links{
	float: right;
	margin-top: 25px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	-webkit-font-smoothing: antialiased;
}



.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

 .top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}



/*-------------background image-------------*/

.introduction{
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}


.introduction > .content {
	  margin: 0 auto;
	  min-width: 37.5px;
	  padding: 245px 0;
	  color: white;
	  text-align: center;
	  font-size: 23px;
	  display: block;
	  box-sixzing: border-box;

}

 .introduction h1,.introduction h3{
	font-weight: 300
}

/*button*/
.big-button{
	display: block;
	margin: 0 auto;
	border-radius: 4px;
	border-style: none;
	line-height: 2.2;
	line-height: 2.2;
  	padding: 0.2rem 1.5rem;
  	background-color: #f15a29;
 	font-weight: 100;
 	font-size: 20px;
 	text-shadow:none;

}

.big-button:hover {
	cursor: pointer;
	background: #d84d10;
}

.everyone {
	text-align: center;
	font-weight: 300;
  	font-size: 42px;
  	margin-top: 99px;
  	box-sizing: border-box;
}
