html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {

	font-family: "Roboto", sans-serif;
}


 /* nav bar */


.top-navigation {
    background-color: #fff;
    position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0 120px;
    
}

.logo{
	height: 51px;
  	padding-top: 12px;
 	 width: 53px;
 	 margin-top: 5px;
}

.top-navigation .links{
	float: right;
	margin-top: 25px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #838994;
	-webkit-font-smoothing: antialiased;
}



.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

 .top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}



/*-------------background image-------------*/

.introduction{
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}


.introduction > .content {
	  margin: 0 auto;
	  min-width: 37.5px;
	  padding: 245px 0;
	  color: white;
	  text-align: center;
	  font-size: 23px;
	  display: block;
	  box-sixzing: border-box;

}

 .introduction h1,.introduction h3{
	font-weight: 300
}

/*button*/
.big-button{
	display: block;
	margin: 0 auto;
	border-radius: 4px;
	border-style: none;
	line-height: 2.2;
	line-height: 2.2;
  	padding: 0.2rem 1.5rem;
  	background-color: #f15a29;
 	font-weight: 100;
 	font-size: 20px;
 	text-shadow:none;

}

.big-button:hover {
	cursor: pointer;
	background: #d84d10;
}
/* 3 images ,cases and features */

.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}

.cases .features {
	text-align: center;
	background-color: #fff;
}

.cases h2 {
  font-weight: 300;
  font-size: 2.75rem;
  text-align: center;
  margin-top: 7.6rem;
  margin-bottom: 3.4rem;
}

.features li {
	list-style: none;
	display: inline-block;
	float: left;
	width: 33.333333%
}

.cases .caption h3 {
	font-weight: 400;
	font-size: 1.565rem;
	margin: 2rem;

}

.caption {
	margin-left: 1%;
}

/*FOOTER..........................*/
.social {
	overflow: auto;
	text-align: center;
	background-color: #fff;
	padding-bottom: 9.375rem;
}

.social hr {
	border:0;
	border: 1px solid #eaebec;
	width: 900px;

}

.content h5 {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 0.5rem;

}

.icons {
	margin-right: 2rem;
}

.icons li {
	list-style: none;
	border-radius: 1.5rem;
	display: inline-block;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
}

.social li:hover {
	cursor: pointer;
}

.social .twitter {
	color: #55acee;
}
.social .facebook {
	color: #4c66a4;
}
.social .instagram {
	color: #3f729b;
}

.copy {
	  font-size: 0.9rem;
 	  font-weight: 300;
  	  color: #838994;
  	  margin-left: 1rem;
  	  text-align: center;
}

